<template>
    <form class="form" @submit.prevent="addQuote()">
        <p v-if="errors.length">
            <b>Пожалуйста, перед отправкой исправьте следующие ошибки:</b>
            <ul>
                <li v-for="error in errors">{{ error }}</li>
            </ul>
        </p>
        <div class="form__row">
            <label class="form__label">
                <span class="form__legend">Автор:</span>
                <input type="text" class="form__input" v-model="name">
            </label>
        </div>
        <div class="form__row">
            <label class="form__label">
                <span class="form__legend">Цитата:</span>
                <textarea class="form__textarea" v-model="quote"></textarea>
            </label>
        </div>
        <div class="form__row">
            <button>Добавить цитату</button>
        </div>
    </form>
</template>

<script>
export default {

    data() {
        return {
            errors: [],
            name: '',
            quote: ''
        }
    },
    methods: {
        addQuote() {
            this.errors = [];
            if(!this.name) this.errors.push("Имя обязательно.");
            if(!this.quote) this.errors.push("Цитата обязательна.");
            
            if(this.errors.length <= 0) {
                this.$emit('addQuote', this.name, this.quote);
                this.name = '';
                this.quote = '';
            }
        }
    }
}
</script>

<style>

</style>
