<template>
    <div class="quote">
        <!--Если выключен режим редактирования-->
        <div v-if="!quote.edit">
            <div class="quote__text">{{ quote.quote }}</div>
            <div class="quote__author">— {{ quote.author }}</div>
            <button class="quote__delete" @click="removeQuote(quote['.key'])" title="Удалить цитату"></button>
            <button class="quote__edit" @click="editQuote(quote['.key'])" title="Редактировать цитату"></button>
        </div>
        <!--Если включен режим редактирования-->
        <div v-else>
            <textarea v-model="quote.quote"></textarea>
            <input type="text" v-model="quote.author">
            <button class="quote__save" @click="saveQuote(quote)" title="Сохранить цитату"></button>
            <button class="quote__cancel" @click="cancelEdit(quote['.key'])" title="Отменить редактирование"></button>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        quote: {
            type: Object
        }
    },
    data() {
        return {
            
        }
    },
    methods: {
        removeQuote() {
            this.$emit('removeQuote', this.quote['.key']);
        },
        editQuote() {
            this.$emit('editQuote', this.quote['.key']);
        },
        saveQuote() {
            this.$emit('saveQuote', this.quote);
        },
        cancelEdit() {
            this.$emit('cancelEdit', this.quote['.key']);
        },
    }
}
</script>

<style>

</style>
