<template>
    <div class="quotes">
        <div class="quotes-list">
            <quote v-for="quote in quotes" :quote="quote" @removeQuote="removeQuote" @editQuote="editQuote" @saveQuote="saveQuote" @cancelEdit="cancelEdit"></quote>
        </div>
        <addForm @addQuote="addQuote"></addForm>
    </div>
</template>

<script>
import { quotesRef } from '../firebase.js';

export default {
    data() {
        return {
            name: '',
            quote: ''
        }
    },
    firebase: {
      quotes: quotesRef
    },
    methods: {
        addQuote(author, quote) {
            quotesRef.push({author: author, quote: quote, edit: false});
        },
        removeQuote(key) {
            quotesRef.child(key).remove();
        },
        editQuote(key) {
            quotesRef.child(key).update({edit: true});
        },
        cancelEdit(key) {
            quotesRef.child(key).update({edit: false});
        },
        saveQuote(quote) {
            const key = quote['.key'];
        
            quotesRef.child(key).set({quote: quote.quote, author: quote.author, edit: false});
        }
    }
}
</script>

<style>
    .quotes {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .quotes-list {
        /* display: flex; */
        /* justify-content: center; */
        /* flex-wrap: wrap; */
        width: calc(50% - 15px);
        margin-right: 15px;
    }
    .quote {
        padding: 60px;
        color: #333;
        background-color: #fff;
        position: relative;
        overflow: hidden;
        margin-bottom: 15px;
    }
    .quote:hover .quote__delete {
        bottom: 20px;
        opacity: 1;
    }
    .quote:hover .quote__edit {
        bottom: 20px;
        opacity: 1;
    }
    .quote__img {
        display: block;
        margin: 0 auto 30px auto;
    }
    .quote__text {
        font-size: 20px;
        text-align: center;
        font-style: italic;
    }
    .quote__author {
        font-size: 14px;
        text-align: center;
        color: #333;
        padding: 15px;
    }
    .quote__delete {
        display: block;
        width: 32px;
        height: 32px;
        background-image: url('../assets/delete.png');
        background-size: contain;
        position: absolute;
        background-color: transparent;
        cursor: pointer;
        border: none;
        bottom: -40px;
        left: 60px;
        opacity: 0;
        transition: bottom .5s, opacity .8s;
    }
    .quote__edit {
        display: block;
        width: 32px;
        height: 32px;
        background-image: url('../assets/edit.png');
        background-size: contain;
        position: absolute;
        background-color: transparent;
        cursor: pointer;
        border: none;
        bottom: -40px;
        left: 120px;
        opacity: 0;
        transition: bottom .5s, opacity .8s;
    }
    .quote__save {
        display: block;
        width: 32px;
        height: 32px;
        background-image: url('../assets/save.png');
        background-size: contain;
        position: absolute;
        background-color: transparent;
        cursor: pointer;
        border: none;
        left: 60px;
        bottom: 20px;
    }
    .quote__cancel {
        display: block;
        width: 32px;
        height: 32px;
        background-image: url('../assets/cancel.png');
        background-size: contain;
        position: absolute;
        background-color: transparent;
        cursor: pointer;
        border: none;
        left: 120px;
        bottom: 20px;
    }
    textarea {
        width: 100%;
        resize: none;
        min-height: 100px;
    }
    input {
        width: 100%;
    }
    .form {
        background-color: #fff;
        padding: 40px;
        width: 50%;
    }
</style>
