<template>
    <div class="app">
        <div class="app-wrapper">
            <h1>Ваши цитаты</h1>
            <quotes-list></quotes-list>
        </div>
        
    </div>
</template>

<script>
  export default {
    name: 'app',
    data() {
      return {
        msg: 'Welcome to Your Vue.js App'
      }
    }
  }

</script>

<style>
  .app {
    padding: 15px;
    max-width: 1170px;
    margin: 0 auto;
  }

</style>
